/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #1E3A8A;
}

.btn-primary {
  color: #fff !important;
  background-color: #1E3A8A !important;
  border-color: #1E3A8A !important;
}

.btn-back{
  color: #fff !important;
  background-color: #9e0911 !important;
  border-color: #7c050b !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: #1E3A8A !important;
  border-color: #153fb3 !important;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background-color: transparent;
}

.table-primary{
  color: #fff;
  background-color: #1E3A8A !important;
  border-color: #153fb3 !important;
}


@keyframes slideIn {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}