 @{
  @* Layout = "_BlankLayout"; *@
  ViewData["Title"] = "Login";
}

@* @section PageStyles {
<link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
} *@

@* ************** Content ************** *@

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow rounded-4 border-0">
                <div class="card-header bg-primary text-white text-center rounded-top-4">
                    <h3 class="mb-0">Login</h3>
                </div>
                <div class="card-body p-4">
                    <form asp-controller="Home" asp-action="Acedi" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="nome" placeholder="es. p@p-service.it">
                        </div>
                        <div class="mb-3">
                            <label for="istat" class="form-label">Password</label>
                            <input type="password" class="form-control" id="istat" name="istat">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg rounded-3">Accedi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
