@{
    ViewData["Title"] = "Login";
}

<main class="fl-main">
<div class="fl-container">
    <div class="fl-left-panel">
        <h1 class="fl-title">Benvenuto</h1>
        <p class="fl-description">Inserisci le tue credenziali per accedere al sistema.</p>
    </div>

    <div class="fl-right-panel">
        <div class="fl-login-icon-container">
            <div class="fl-login-icon">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <h2 class="fl-form-title">Accedi</h2>
         @if (!string.IsNullOrEmpty(TempData["Message"] as string))
        {
            <div class="alert alert-info mt-4 shadow-sm border-0">
                <i class="bi bi-info-circle me-2"></i> @TempData["Message"]
            </div>
        }
        <form asp-controller="Login" asp-action="Accedi" method="POST" class="fl-form">
            <label for="username" class="fl-label fw-bold">Username/email:</label>
            <input type="text" id="username" name="username" class="fl-input" required>

            <label for="password" class="fl-label fw-bold">Password:</label>
            <input type="password" id="password" name="password" class="fl-input" required>

            <button type="submit" class="fl-button">Accedi</button>
        </form>
    </div>
</div>
</main>
