@{
    ViewData["Title"] = "Pannello di Controllo";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto! @// ViewBag.Username</h1>
    <p>Esplora le funzionalità disponibili per la gestione e l'analisi dei dati.</p>
</div>

@* Strumenti di Caricamento Dati *@
<div class="row g-6 mb-3 mt-3 align-items-stretch">
    <div class="col-md-6 col-xl-4">
        <div class="card bg-primary text-white d-flex flex-column h-100">
            <div class="card-body">
                <a asp-controller="Enti" asp-action="Index">
                    <h5 class="card-title text-white">Gestione Enti</h5>
                </a>
                <p class="card-text">
                    Accedi alla sezione per aggiungere o modificare le informazioni sugli enti.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card bg-primary text-white d-flex flex-column h-100">
            <div class="card-body">
                <a asp-controller="Azioni" asp-action="LoadAnagrafica">
                    <h5 class="card-title text-white">Carica Dati Anagrafici</h5>
                </a>
                <p class="card-text">
                    Importa nel database i dati anagrafici estratti dai registri comunali.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card bg-primary text-white d-flex flex-column h-100">
            <div class="card-body">
                <a asp-controller="Azioni" asp-action="LoadFilePiranha">
                    <h5 class="card-title text-white">Carica Utenze Idriche</h5>
                </a>
                <p class="card-text">
                    Carica il file CSV contente le Utenze Idriche.
                </p>
            </div>
        </div>
    </div>
</div>

@* Elaborazione e Report *@

<div class="row g-6 mb-3 mt-3 align-items-stretch">
   <div class="col-md-6 col-xl-4">
        <div class="card bg-primary text-white d-flex flex-column h-100">
            <div class="card-body">
                <a asp-controller="Azioni" asp-action="LoadFileInps">
                    <h5 class="card-title text-white">Carica File INPS</h5>
                </a>
                <p class="card-text">
                    Procedi con l'upload dei file relativi ai dati INPS.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card bg-primary text-white d-flex flex-column h-100">
            <div class="card-body">
                <a asp-controller="Azioni" asp-action="Report">
                    <h5 class="card-title text-white">Report</h5>
                </a>
                <p class="card-text">
                    Genera il report sull'esito della competenza territoriale.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card bg-primary text-white d-flex flex-column h-100">
            <div class="card-body">
                <a asp-controller="Toponomi" asp-action="Index">
                    <h5 class="card-title text-white">Toponomi</h5>
                </a>
                <p class="card-text">
                    Visualizza tutti i Toponomi di un Ente
                </p>
            </div>
        </div>
    </div>
</div>


<div class="row g-6 mb-3 mt-3 align-items-stretch">
   <div class="col-md-6 col-xl-4">
        <div class="card bg-primary text-white d-flex flex-column h-100">
            <div class="card-body">
                <a asp-controller="Anagrafe" asp-action="Index">
                    <h5 class="card-title text-white">Anagrafe</h5>
                </a>
                <p class="card-text">
                    Vedi Anagrafe enti
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card bg-primary text-white d-flex flex-column h-100">
            <div class="card-body">
                <a asp-controller="Utenze" asp-action="Index">
                    <h5 class="card-title text-white">Utenze Idriche</h5>
                </a>
                <p class="card-text">
                    Vedi Utenze Idriche
                </p>
            </div>
        </div>
    </div>
</div>