.footer-app {
    background: #023377;
    color: #fff;
    padding: 2rem 1rem;
    width: 100%;
    margin-top: 0 !important;
    align-items: center !important;
}

/* Link */
.footer-app .footer-link {
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
    transition: color 0.2s ease;
}

.footer-app .footer-link:hover {
    color: #fff;
    text-decoration: underline;
}
