@{
    ViewData["Title"] = "Modifica Toponimo";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow rounded-4 border-0">
                <div class="card-header bg-primary text-white text-center rounded-top-4">
                    <h3 class="mb-0">Modifica Toponimo</h3>
                </div>
                <div class="card-body p-4">
                    <form asp-controller="Enti" asp-action="Update" method="POST" enctype="multipart/form-data">
                        @* Campo nascosto per salvare l'ID dell'ente *@
                        <input type="hidden" name="id" value="@ViewBag.id" />
                        
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome* </label>
                            <input type="text" class="form-control" id="denominazione" name="denominazione" value="@ViewBag.denominazione"required>
                        </div>

                        <div class="mb-3">
                            <label for="normalizzazione" class="form-label">Normalizzazione*</label>
                            <input type="text" class="form-control" id="normalizzazione" name="normalizzazione" value="@ViewBag.normalizzazione" required>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg rounded-3">Modifica Toponimo</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>